body {
	font-size: 1.5rem;
	font-family: sans-serif;
	text-align: center;
	background-color: LightSalmon;
	color: #333;
	margin: 0;
}
h1{
	font-size: 4rem;
	margin-bottom: 0;
}
@media(max-width: 400px){
	h1 {
		font-size: 3.25rem;
		line-height: 1.2;
	}
	h3{
		font-size: 3rem;
	}
	a {
		color: #477ca7;
	}
	a:visited {
		color: #74638f;
	}
}
